/*
melon.css
Blake Gaynor, 2022
*/

/* Nunito */
@import url("https://fonts.googleapis.com/css?family=Nunito");
/* Alegreya Sans */
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans+SC");

/* global root variables */
:root {
	/*color vars*/
	--background-base: rgb(11, 110, 69);
	--background-overlay:rgba(51, 0, 110, 0.151);
	--text-color-accent: rgb(255, 192, 0);
	--soundcloud-orange: rgb(255, 102, 0);
	--tumblr-blue-dark: rgb(0, 25, 53);
	--text-background-none: rgba(0, 0, 0, 0);
	--text-color-foreground: rgb(255, 255, 255);
	--transparent:rgba(0,0,0,0);
	/*font vars*/
	--text-font-info: "Nunito", sans-serif;
	/*size vars*/
	--font-readable-size: 14pt;
	--font-heading-size: 32pt;
	--block-border-radius: 15px;
	/*scale vars*/
	--page-scale-factor: 5vw;
	--page-time-scale: 0.5s;
}

/* enforce box-sizing standard on all children */
* {
	box-sizing: border-box;
}

html {
	background-color: var(--background-base);
}

body {
	text-align: center;
}

p,
a,
h1,h2,h3,h4,h5,h6,ul,li {
	font-family: var(--text-font-info);
	color: var(--text-color-foreground);
}

p,
a {
	font-size: var(--font-readable-size);
}

h1 {
	font-size: var(--font-heading-size);
}

div {
	display:inline-table;
	margin-left:24px;
	margin-right:24px;
	margin-bottom: var(--page-scale-factor);
	border-style: solid;
	border-color: rgba(40, 40, 100, 0);
	border-radius: var(--block-border-radius);
	background-color: var(--background-overlay);
	padding: var(--page-scale-factor);
}

div.parent {
	background-color: var(--background-overlay);
}

div.left {
	display:inline;
}

a {
	border-style: none;
	border-radius: none;
	background-color: var(--background-overlay);
	text-decoration: none;
	font-weight: bold;
	margin-bottom: 10vw;
	transition: font-weight var(--page-time-scale), margin-bottom var(--page-time-scale), color var(--page-time-scale),
		border-radius var(--page-time-scale);
}

a:hover {
	color: var(--text-color-accent);
	border-radius: var(--block-border-radius);
	margin-bottom: 2vw;
}

a.soundcloud {
	color: var(--text-color-fg);
	background-color: var(--text-background-none);
	border-radius: none;
	font-weight: normal;
	font-size: inherit;
	cursor: pointer;
	transition: background var(--page-time-scale), border-radius var(--page-time-scale);
	-webkit-transition: background var(--page-time-scale), border-radius var(--page-time-scale);
}

a.soundcloud:hover {
	color: var(--text-color-fg);
	border-style: solid;
	border-color: rgba(0, 0, 0, 0);
	border-radius: 8px 8px 8px 8px;
	background-color: var(--soundcloud-orange);
}

a.tumblr {
	color: inherit;
	background-color: inherit;
	border-radius: none;
	font-size: inherit;
	cursor: pointer;
	transition: background var(--page-time-scale), border-radius var(--page-time-scale);
	-webkit-transition: background var(--page-time-scale), border-radius var(--page-time-scale);
}
a.tumblr:hover {
	color: fff;
	border-style: solid;
	border-color: var(--text-background-none);
	border-radius: 8px;
	background-color: var(--tumblr-blue-dark);
}

/* for screen widths greater than 600px */
@media screen and (min-width: 601px) {
}

/* for screen widths less than 600px (inclusive) */
@media screen and (max-width: 600px) {
	
	/* force single-column layout for non-landscape devices */
	div.left {
		float: none;
		clear: both;
	}
}