/* Always remember to responsive-ify your code.
if you don't have the balls to do this, then
you don't need to be making websites like this
in the current year, 2020. grow a pair, take
the time, and make it easier for the next guy,
please. */
/* font imports */
/* if there's anything i got right, it was this part right here.
good job, Blake -Blake */
@import url("https://fonts.googleapis.com/css?family=Nunito"); /* Nunito */
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans+SC"); /* Alegreya Sans */

/* global constants: */
:root {
	--melon-blue: #06f;
	--text-color-accent: #ffc000;
	--text-font-info: "Nunito", sans-serif;
	--soundcloud-orange: #f60;
	--tumblr-blue-dark: #001935;
	--font-readable-size: 14pt;
	--font-heading-size: 32pt;
	--page-scale-percent: 5%;
	--block-border-radius: 15px;
	--block-color-transparent: rgba(0, 54, 170, 0.637);
	--block-inner-color-transparent: rgba(0, 19, 82, 0.466);
	--text-background-none: rgba(0, 0, 0, 0);
	--text-color-foreground: #fff;
	--page-time-scale: 1s;
}

@media only screen and(min-width: 601px) {
}

@media only screen and (max-width: 600px) {
	div.left {
		float: none;
		clear: both;
	}
}

html {
	text-align: center;
	background-color: var(--melon-blue);
}

p,
a,
h1 {
	font-family: var(--text-font-info);
	color: var(--text-color-foreground);
}

p,
a {
	font-size: var(--font-readable-size);
}

h1 {
	font-size: var(--font-heading-size);
}

div {
	margin-bottom: var(--page-scale-percent);
	border-style: solid;
	border-color: rgba(40, 40, 100, 0);
	border-radius: var(--block-border-radius);
	background-color: var(--block-inner-color-transparent);
	padding: var(--page-scale-percent);
}

div.parent {
	background-color: var(--block-color-transparent);
}

div.left {
	float: left;
}

a {
	border-style: none;
	border-radius: none;
	background-color: var(--block-color-transparent);
	text-decoration: none;
	font-weight: bold;
	margin-bottom: 10%;
	transition: font-weight var(--page-time-scale), margin-bottom var(--page-time-scale), color var(--page-time-scale),
		border-radius var(--page-time-scale);
}

a:hover {
	color: var(--text-color-accent);
	border-radius: var(--block-border-radius);
	margin-bottom: 8em;
}

.soundcloud {
	color: var(--text-color-fg);
	background-color: var(--text-background-none);
	border-radius: none;
	font-weight: normal;
	font-size: inherit;
	cursor: pointer;
	transition: background var(--page-time-scale), border-radius var(--page-time-scale);
	-webkit-transition: background var(--page-time-scale), border-radius var(--page-time-scale);
}

.soundcloud:hover {
	color: var(--text-color-fg);
	border-style: solid;
	border-color: rgba(0, 0, 0, 0);
	border-radius: 8px 8px 8px 8px;
	background-color: var(--soundcloud-orange);
}

.tumblr {
	color: inherit;
	background-color: inherit;
	border-radius: none;
	font-size: inherit;
	cursor: pointer;
	transition: background var(--page-time-scale), border-radius var(--page-time-scale);
	-webkit-transition: background var(--page-time-scale), border-radius var(--page-time-scale);
}
.tumblr:hover {
	color: fff;
	border-style: solid;
	border-color: var(--text-background-none);
	border-radius: 8px;
	background-color: var(--tumblr-blue-dark);
}

/*
@media () {
	:root {
		--text-color-fg: #fff;
	}

	html {
		background-repeat: repeat-y;
		background-size: 100% auto;
		background-position: top;
		background-attachment: fixed;
	}

	
	body {
		text-align: center;
	}


	p {
		background-color: rgba(0, 0, 0, 0);
		color: var(--text-color-fg);
		font-family: var(--text-font-info);
	}

	
	a {
		color: inherit;
		background-color: rgba(0, 0, 0, 0);
		font-family: inherit;
		font-style: oblique;
	}

	
	h1 {
		background-color: none;
		font: var(--text-font-info);
		color: (var(--text-color-fg));
	}

	div {
		border-style: solid;
		border-width: 2px;
		border-color: rgba(40, 40, 100, 0);
		border-radius: 7px;
		background-color: var(--block-color-transparent);
	}

	
	
	.main {
	}

	

*/
