html {
    /* override tiles */
    background: url("https://cdn.discordapp.com/attachments/722708774967574618/844995971280404551/snoz-nost.png");
    background-color: #312b20;
    background-size: cover;
}

div.darkbgblock {
    background-color: rgba(24, 0, 14, 0.644);
    border-radius: 36pt;
    margin: 5%;
    padding: 5%;
  }

/* note: <i> tags will break this */
.rainbow-text { /* new rainbow test that leaves out reddish hues*/
    background-size: 800% 800%;
    background-image: repeating-linear-gradient(45deg, #eb6ceb, #a73df3, #531ee6, #006280, #00ff80, #b357cf);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 8s ease infinite;
    text-shadow: 0 0 rgba(255, 255, 255, 0.3);
  }